.mypage-container {
  width: 1000px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 50px auto 50px auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 1px solid #ccc;
}

.mypage-container::before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 50%;
  width: 1px;
  background-color: #ddd;
}

.profile-section,
.info-section {
  flex: 1;
  padding: 20px;
}

.profile-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #ddd;
}

.profile-section h3 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.profile-button {
  background-color: #f3f3f3;
  color: #333;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 14px;
}

.profile-button.delete {
  color: red;
}

.logout-button {
  background-color: white;
  color: red;
  padding: 10px 15px;
  border: 1px solid red;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.info-section h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  font-size: 16px;
}

.info-item span {
  flex: 1;
}

.edit-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}